.HomePage {
    ion-content {
        position: relative;
    }
}

.SlidesContainer {
    position: absolute;
    bottom: calc(0px + var(--ion-safe-area-bottom));
    z-index: 15;
    left: 0;
    right: 0;
}

.AnimatedSlides {
    // ion-slide {
    //     width: 300px !important;
    // }
    .swiper-slide {
        .movie-slide {
            transform: translateY(100px);
        }
    }
    .swiper-slide-active {
        .movie-slide {
            transform: translateY(52px) !important;
        }
    }
    .slide {
        h2 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}