.HomePage {
    ion-content {
        position: relative;
    }
}

.SlidesContainer {
    position: absolute;
    bottom: calc(58px + var(--ion-safe-area-bottom));
    // top: calc(0px + var(--ion-safe-area-top));
    z-index: 15;
    left: 0;
    right: 0;
    // height: 100%;
}

.AnimatedSlides {
    height: 100%;
    .movie-slide {
        background-color: #fff;
        border-radius: 34px;
        align-items: center;
        flex-direction: column;
    }
    .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .slide {
        h2 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }
        p {
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}